
* {
    color: darkblue;
}

/*Custom message on home page*/
#messageTopRight {
    font-weight: bold;
    color: red;
    text-align: right;
}

/* navbar styling*/
.navbar {
    width: 100%;
    background-color: lightcyan;
    overflow: auto;
}
  
.navbar a {
    float: left;
    padding: 12px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background-color: lightblue;
}

/*
.active {
    background-color: #348cff;
}
*/
  
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown:hover {
    background-color: lightblue;
}

.dropdown .dropbtn {
    font-size: 17px;  
    border: none;
    outline: none;
    color: black;
    padding: 12px 15px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightblue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*********/

#top {
    background-color: #bbbbbb;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: auto;
    padding-top: 10px;
    border: 2px grey;
    width: 1000px;
}

#data {
    background-color: grey;
}

fieldset {
    margin-top: 4px;
    background-color: #bbbbbb;
}

legend {
    color: #d46622;
    background-color: #ccadbe;
    border: 1px solid #72072e;
    padding: 3px;
    font-weight: bold;
}

table {
    width: 80%;
    margin: 4px;
    padding: 4px;
}

td {
    padding: 2px;
}

[title*="AC logo"] {
    border: 3px solid rgb(15, 255, 123);
}

.category {
    color: rgb(1, 197, 197);
}

.required {
    color: #ff0000;
}

p#data {
    padding-left: 8px;
}